.workspace {
    display: grid;
    overflow: hidden;
    position: relative;

}

.innerWorkspace {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 40px 1fr;
}
.number-canvas {

    width: 100%;
    height: 100%;

    background: #111;

    display: block;
}

.axis-top {

    width: 100%;
    height: 100%;

    display: block;

    background: #222;

}

.axis-left {

    width: 100%;
    height: 100%;

    display: block;

    background: #222;

}