.toolbar {
    height: 101px;
    border-bottom: 1.5px solid #ffffff0f;
}

.tittleArea {
    width: 320px;
    height: 100px;
    align-items: center;
    display: grid;
}

.logo {
    background-image: url('../../assets/images/tittle.png');  
      width: 269px;
    height: 59px;
    margin: auto;
}