.explorer-panel {
    background: #111111;
    border-right: 2px solid #ffffff08;
    z-index: 2;
}

.explorer-panel-alert {
    background: #141311;
    width: 90%;
    height: 110px;
    border-radius: 21px;
    margin: auto;
    margin-top: 17px;
    box-shadow: 0 0 0 2.5px #291f09;
}

.text-explorer-panel-alert {
    font-family: times;
    font-style: italic;
    color: #87578d;
    font-size: 21px;
    margin-top: 32px;
    margin: auto;
    padding: 11px;
    /* -webkit-background-clip: text; */
    background-clip: text;
}


.option-inner-btadd {
    width: 200px;
    height: 210px;
    background: #00000073;
    position: absolute;
    margin-top: 211px;
    margin-left: -59px;
    BORDER-RADIUS: 21px;
    backdrop-filter: blur(6px);
    box-shadow: inset 0 0 0 1px #ffffff14;
    font-family: auto;
    font-size: 19px;
    font-style: italic;
}

.option-inner-btadd-tittle {
    font-size: 16px;
    margin-top: 11px;
}

.option-inner-btadd-addBtArea {
    /* background: white; */
    width: 100%;
    height: 167px;
    grid-template-rows: 25% 25% 25% 25%;
    display: grid;
}

.add-new-bloc-bt {
    background: red;
    position: absolute;
    top: 6px;
    left: 10px;
    right: 10px;
    bottom: 7px;
    border-radius: 8px;
}

.option-inner-btadd-addBtAreaBt {
    position: relative;
}

.function-formula {
    width: fit-content;
    margin: auto;
    font-size: 36px;
    font-family: times;
    font-style: italic;

  /* 1. Definir el gradiente como fondo */
    background: linear-gradient(181deg, #efe2a1, #857844);

  /* 2. Recortar el fondo al texto */
    -webkit-background-clip: text;
    background-clip: text;

  /* 3. Hacer el texto transparente para ver el fondo */
    -webkit-text-fill-color: transparent;
}

.explorer-panel-alert.color {
    box-shadow: 0 0 0 2.5px #301939;
    background: #171316;
}

.explorer-panel-alert.search {
    box-shadow: 0 0 0 2.5px #002b45;
    background: #0d1325;
}

.text-explorer-panel-alert.search {
    color: #4ea8df;
}

.explorer-panel-alert.note {
    box-shadow: 0 0 0 2.5px #2a2a2a;
    background: #1b1b1b;
}

.explorer-panel-option-bar {
    width: 100%;
    height: 50px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    display: grid;
}

.option-bar-bt {
    box-shadow: 0 1px 0 0 #181818;
}

div#add-panel-alert {
    text-align: center;
    align-items: center;
    display: grid;
    font-size: 34px;
}

.option-bar-bt-ico {
    margin-top: -9px;
    margin-left: 11px;
}

.add-new-bloc-bt.color-apply {
    box-shadow: 0 0 0 2.5px #301939;
    background: #171316;
    color: #87578a;
    font-weight: bolder;
}

.add-new-bloc-bt.add-function {
    box-shadow: 0 0 0 2.5px #291f09;
    background: #141311;
    color: #eada84;
}

.add-new-bloc-bt.search-prod {
    box-shadow: 0 0 0 2.5px #002b45;
    background: #0d1325;
    color: #4ea8df;
}

.add-new-bloc-bt.note-add {
    box-shadow: 0 0 0 2.5px #2a2a2a;
    background: #1b1b1b;
}

.add-new-bloc-bt:hover {
    filter: brightness(1.3);
    cursor: pointer;
}